<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="rental.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <nav>
          <a href="home.html">
            <i class="fa fa-arrow-left"></i>
            <div class="head">Home</div>
          </a>
        </nav>
      </div>

      <div class="container" style="margin-top: 30px;">
        <h2
          style="
            text-align: center;
            font-size: 40px;
            color: #111441;
            font-weight: 600;
          "
        >
          Rent House in Bhuj
        </h2>

        <div class="Card">
          <div class="card mb-3" style="max-width: 540px; margin-right: 30px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://mediacdn.99acres.com/media1/15719/13/314393900O-1629872655863.jpeg"
                  class="img-fluid rounded-start"
                  alt="..."
                  style="height: 250px;"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5
                    class="card-title"
                    style="
                      font-size: 25px;
                      color: rgb(87, 86, 86);
                      font-weight: 600;
                    "
                  >
                    3 Bedroom Independent House
                  </h5>
                  <div class="box" style="color: rgb(26, 26, 26);">
                    <div class="paisa">
                      <strong>Rs.20000</strong>
                      /month
                    </div>
                    <div class="type">
                      <strong>3BHK</strong>
                    </div>
                  </div>
                  <p class="card-text" style="margin-top: 10px;">
                    <small class="text-muted">
                      Open air home no any problem road touch home main anjar
                      highway in walking distance
                    </small>
                  </p>
                  <p
                    style="
                      font-size: 12px;
                      color: rgb(184, 180, 180);
                      position: relative;
                      top: 28px;
                      text-align: end;
                    "
                  >
                    5 People Schedule to visit this week
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://mediacdn.99acres.com/media1/15445/3/308903102M-1627316805207.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                  style="height: 250px;"
                />
              </div>

              <div class="col-md-8">
                <div class="card-body">
                  <h5
                    class="card-title"
                    style="
                      font-size: 25px;
                      color: rgb(87, 86, 86);
                      font-weight: 600;
                    "
                  >
                    2 Bedroom Independent House
                  </h5>
                  <div class="box" style="color: rgb(26, 26, 26);">
                    <div class="paisa">
                      <strong>Rs.20000</strong>
                      /month
                    </div>
                    <div class="type">
                      <strong>2BHK</strong>
                    </div>
                  </div>
                  <p class="card-text" style="margin-top: 10px;">
                    <small class="text-muted">
                      2bhk fully furnished - Cctv covering house front & street.
                      Split ac in both bed room and living hall room.
                    </small>
                  </p>
                  <p
                    style="
                      font-size: 12px;
                      color: rgb(184, 180, 180);
                      position: relative;
                      top: 28px;
                      text-align: end;
                    "
                  >
                    8 People Schedule to visit this week
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Card">
          <div class="card mb-3" style="max-width: 540px; margin-right: 30px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://mediacdn.99acres.com/media1/2203/16/44076679O-1621256067700.jpeg"
                  class="img-fluid rounded-start"
                  alt="..."
                  style="height: 250px;"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5
                    class="card-title"
                    style="
                      font-size: 25px;
                      color: rgb(87, 86, 86);
                      font-weight: 600;
                    "
                  >
                    2 Bedroom Independent House
                  </h5>
                  <div class="box" style="color: rgb(26, 26, 26);">
                    <div class="paisa">
                      <strong>Rs.35000</strong>
                      /month
                    </div>
                    <div class="type">
                      <strong>2BHK</strong>
                    </div>
                  </div>
                  <p class="card-text" style="margin-top: 10px;">
                    <small class="text-muted">
                      1 hall + 2 bedroom +kitchen+ 1 attached toiler bath +1
                      toilet independent house.
                    </small>
                  </p>
                  <p
                    style="
                      font-size: 12px;
                      color: rgb(184, 180, 180);
                      position: relative;
                      top: 28px;
                      text-align: end;
                    "
                  >
                    6 People Schedule to visit this week
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://mediacdn.99acres.com/media1/14934/13/298693990O-1622114278102.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                  style="height: 250px;"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5
                    class="card-title"
                    style="
                      font-size: 25px;
                      color: rgb(87, 86, 86);
                      font-weight: 600;
                    "
                  >
                    1 Bedroom Independent House
                  </h5>
                  <div class="box" style="color: rgb(26, 26, 26);">
                    <div class="paisa">
                      <strong>Rs.15000</strong>
                      /month
                    </div>
                    <div class="type">
                      <strong>3BHK</strong>
                    </div>
                  </div>
                  <p class="card-text" style="margin-top: 10px;">
                    <small class="text-muted">
                      1 hall + 1 bedroom +kitchen+1 toilet. Good locatiin good
                      house u will see and decide.
                    </small>
                  </p>
                  <p
                    style="
                      font-size: 12px;
                      color: rgb(184, 180, 180);
                      position: relative;
                      top: 28px;
                      text-align: end;
                    "
                  >
                    8 People Schedule to visit this week
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
