<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lawyer</title>
    <link rel="stylesheet" href="lawyer.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <img src="../images/logo (2).png" src="logo" class="logo" />
        <nav>
          <ul id="menu-list">
            <li><a href="../index.html">Home</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="../Signup.html">Sign up</a></li>
            <li id="google_translate_element"></li>
          </ul>
          <div class="menu" onclick="togglemenu()">
            <i class="fas fa-bars"></i>
          </div>
        </nav>
      </div>

      <div class="row">
        <div class="col1">
          <h1>
            Online lawyer
          </h1>
          <h2>
            consultation
          </h2>
          <h3>To find the Details about the Lawyer</h3>
          <div class="button">
            <a href="LawyerDetails.html">
              <button class="btn">Click Here</button>
            </a>
          </div>
        </div>

        <div class="col2">
          <img src="../images/Lawyer.png" class="img1" />
        </div>
      </div>
    </div>

    <div class="container1">
      <h2>Our services</h2>

      <div class="col3">
        <div class="card">
          <div class="img2">
            <img src="../images/23.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="details">
            <h5 class="card-title">Fixed Fee & Support</h5>
            <p class="card-text">
              You'll only Pay one fee. and it's fixed from the beginning. There
              are no Surprises, and we never add commission.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="img2">
            <img src="../images/23.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="details">
            <h5 class="card-title">Fixed Fee & Support</h5>
            <p class="card-text">
              You'll only Pay one fee. and it's fixed from the beginning. There
              are no Surprises, and we never add commission.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="img2">
            <img src="../images/23.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="details">
            <h5 class="card-title">Fixed Fee & Support</h5>
            <p class="card-text">
              You'll only Pay one fee. and it's fixed from the beginning. There
              are no Surprises, and we never add commission.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="img2">
            <img src="../images/23.jpg" class="card-img-top" alt="..." />
          </div>
          <div class="details">
            <h5 class="card-title">Fixed Fee & Support</h5>
            <p class="card-text">
              You'll only Pay one fee. and it's fixed from the beginning. There
              are no Surprises, and we never add commission.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container2">
        <div class="row1">
          <div class="footer-col">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Affiliate program</a></li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>Get Help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Booking Free</a></li>
              <li><a href="#">returns</a></li>
              <li><a href="#">Booking status</a></li>
              <li><a href="#">Payment options</a></li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>Online Book</h4>
            <ul>
              <li><a href="#">Renting home</a></li>
              <li><a href="#">Online tutor</a></li>
              <li><a href="#">Lawyer consultation</a></li>
              <li><a href="#">Electrician</a></li>
              <li><a href="#">Carpenter</a></li>
              <li><a href="#">Plumber</a></li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>Follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: 'en',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
          },
          'google_translate_element',
        )
      }
    </script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../index.js" charset="utf-8"></script>
  </body>
</html>
