<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sell-Page</title>
    <link rel="stylesheet" href="sellhome.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="../Signup.html">Sign-Up</a></li>
            <li id="google_translate_element"></li>
          </ul>
        </nav>
      </div>

      <div class="row">
        <div class="col1">
          <img src="../images/h5.png" alt="..." class="img1" />
        </div>
        <h1>Rent out your property</h1>
        <div class="col2">
          <p>
            Make your property available on our portal and win a chance to
            <br />
            additional cashbacks when you get rented successfully.
          </p>
          <form id="signup" class="input-group">
            <input
              type="text"
              class="input-field"
              placeholder="Full Name"
              required
            />
            <input
              type="phone number"
              class="input-field"
              placeholder="Contact Number"
              required
            />
            <input
              type="email"
              class="input-field"
              placeholder="Email Id"
              required
            />
            <input
              type="text"
              class="input-field"
              placeholder="Address"
              required
            />
            <div class="imgup">
              <span>Upload Images</span>
              <input type="file" id="myFile" name="filename" />
            </div>

            <input
              type="text"
              class="input-field1"
              placeholder="Details"
              required
            />

            <button type="submit" class="submit-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
